testdata/others.asl.json
{
  "Comment": "An example of the Amazon States Language using a map state.",
  "StartAt": "Validate-All",
  "States": {
    "Validate-All": {
      "Type": "Map",
      "InputPath": "$.detail",
      "ItemsPath": "$.shipped",
      "MaxConcurrency": 0,
      "Iterator": {
        "StartAt": "Validate",
        "States": {
          "Validate": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ship-val",
            "Parameters": {
              "input.$": "$"
            },
            "ResultSelector": {
              "data.$": "$"
            },
            "OutputPath": "$.items",
            "Next": "Wait",
            "Retry": [
              {
                "ErrorEquals": [ "ErrorA", "ErrorB" ],
                "IntervalSeconds": 1,
                "BackoffRate": 2,
                "MaxAttempts": 2
              },
              {
                "ErrorEquals": [ "ErrorC" ],
                "IntervalSeconds": 5
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [ "States.ALL" ],
                "Next": "Z"
              }
            ]
          },
          "Wait": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "Pass"
          },
          "Pass": {
            "Type": "Pass",
            "Result": {
              "x-datum": 0.381018,
              "y-datum": 622.2269926397355
            },
            "ResultPath": "$.coords",
            "Next": "Success"
          },
          "Success": {
            "Type": "Succeed"
          }
        }
      },
      "ResultPath": "$.detail.shipped",
      "End": true
    }
  }
}
